.instructor {
    background-color: #F9EEFF;
    color: black;
}

.instructor-header {
    color: #2D2155;
    font-size: 60px;
    font-weight: bold;
}

.card {
    border-radius: 10px;
    color: white;
    margin: 20px 0;
}

.card-body {
    background: rgba(200, 200, 200, 0.3);
}

.card-header {
    background-color: #5941A9;
    border-radius: 10px 10px 0 0 !important;
}

.text-title {
    font-size: 26px;
    font-weight: bold;
    color: #F9EEFF;
}

.title-collapse {
    margin: auto;
}

.text-content {
    margin: 0 10px;
    padding: 10px;
    background-color: #5941A9;
    border-radius: 10px;
}
