/* Top Level Instructor View*/
.instructor {
    background-color: #F9EEFF;
    color: black;
}

.instructor-header {
    color: #2D2155;
    font-size: 60px;
    font-weight: bold;
}

/* Card (Text Info) Styles*/
.card {
    border-radius: 10px;
    color: white;
    margin: 20px 0;
}

.card-body {
    background: rgba(200, 200, 200, 0.3);
}

.card-header {
    background-color: #5941A9;
    border-radius: 10px 10px 0 0 !important;
}

.text-title {
    font-size: 26px;
    font-weight: bold;
    color: #F9EEFF;
}

.title-collapse {
    margin: auto;
}

.text-content {
    background-color: #5941A9;
    border-radius: 10px;
    color: white;
    margin: 0;
    padding: 15px;
    height: 100%;
    width: 100%;
}

/* Card Buttons */
.card-button-div {
    text-align: right;
}

.card-buttons {
    border: transparent 2px solid;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 0 20px;
    padding: 5px 20px;
    transition-duration: 0.3s;

    &:focus {
        outline: none;
    }
}

.save-button {
    background: #2D2155;

    &:hover {
        background: white;
        border: #2D2155 2px solid;
        color: #2D2155;
    }
}

.delete-button {
    background: #933A3A;

    &:hover {
        background: white;
        border: #933A3A 2px solid;
        color: #933A3A;
    }
}

/* Module Selection Styles */
.module-header {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.module-selection {
    color: black;
}

.module-category {
    margin: 0 0 20px;
}

.module-category-checkbox {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
    border-color: white;
}

.module-category-label {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}
