/* Top Level Instructor View*/

label {
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    padding: 3px 0;
}

.add-text-button {
    background: white;
    border: none;
    border-radius: 30px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 20px 5px 60px;
    position: relative;
    transition: all 0.3s linear;

    &:focus {
        outline: none;
    }

    &:hover {
        background: #5941A9;
        color: white;
    }
}

.backdrop {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.btn-create {
    background-color: #278E73;
    color: white;
}

.instructor {
    background-color: #F9EEFF;
    color: black;
    overflow-y: hidden;
}

.instructor-header {
    color: #2D2155;
    font-size: 60px;
    font-weight: bold;
}

.Modal {
    color: #2D2155;
    position: fixed;
    transition: all 0.4s ease-out;
    z-index: 500;
}

.plus-icon {
    background: #5941A9;
    border-radius: 30px;
    height: 47px;
    left: 0;
    position: absolute;
    top: 0;
    width: 47px;
}

.plus-1 {
    background: white;
    height: 8px;
    left: 8px;
    position: absolute;
    top: 19px;
    width: 30px;
}

.plus-2 {
    background: white;
    height: 8px;
    left: 8px;
    position: absolute;
    top: 19px;
    transform: rotate(90deg);
    width: 30px;
}

@media (min-width: 600px) {
    .Modal {
        left: calc(50% - 250px);
        width: 500px;
    }
}


/* Card (Text Info) Styles*/

.card {
    border-radius: 10px;
    color: white;
    margin: 20px 0;
}


/* Card body and collapsing animation */

.card-body {
    background: rgba(200, 200, 200, 0.3);
}

.card-collapse {
    max-height: 0;
    opacity: 0;
    padding: 0 1.25rem;
    transition: max-height 0.4s, opacity 0.2s, padding 0.5s linear;
}

.card-expand {
    max-height: 3000px;
    opacity: 1;
    padding: 1.25rem;
    transition: max-height 0.2s ease-in, opacity 0.4s ease-in, padding 0.2s linear;
}

.text-content {
    background-color: #5941A9;
    border-radius: 10px;
    color: white;
    height: 100%;
    margin: 0;
    padding: 15px;
    resize: none;
    width: 100%;
}


/* Definition / Example / Image Styles */

.text-info-label {
    color: black;
    font-size: 1.6rem;
}

.text-info-dropdown {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    word-wrap: break-word;
    text-overflow: ellipsis;
    padding: 0.4rem 0.6rem;
    width: 100%;
}


/* Card Header Styles */

.card-header {
    background-color: #5941A9;
    border-radius: 10px 10px 0 0 !important;
    transition: border-radius 0.5s ease-in;
}

.collapse-div {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.header-round {
    border-radius: 10px !important;
}

.text-title {
    background: #5941A9;
    border: none;
    color: #F9EEFF;
    font-size: 26px;
    font-weight: bold;
}

.title-collapse {
    color: #9F91CC;
    cursor: pointer;
    font-size: 18px;
    margin: 0;
}


/* Arrow for collapsing */

.arrow-flip {
    transform: rotate(-180deg);
}

.collapse-arrow {
    background: #9F91CC;
    cursor: pointer;
    display: inline-block;
    height: 27px;
    margin-left: 10px;
    transform: rotate(0);
    transition: all 0.5s ease-in-out;
    width: 27px;
}

.rect-1 {
    background: #5941A9;
    height: 3px;
    left: 3px;
    position: absolute;
    top: 12px;
    transform: rotate(45deg);
    width: 14px;
}

.rect-2 {
    background: #5941A9;
    height: 3px;
    left: 11px;
    position: absolute;
    top: 12px;
    transform: rotate(135deg);
    width: 14px;
}


/* Card Buttons */

.card-button-div {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

.card-buttons {
    border: transparent 2px solid;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 0 20px;
    padding: 5px 20px;
    transition-duration: 0.3s;

    &:focus {
        outline: none;
    }

    &:hover {
        background: white;
        cursor: pointer;
    }
}

.card-spinner {
    border-color: black;
    border-right-color: transparent;
    height: 2rem !important;
    width: 2rem !important;
}

.delete-button {
    background: #933A3A;

    &:hover {
        border: #933A3A 2px solid;
        color: #933A3A;
    }
}

.disabled {
    background: #d3d3d3;
    color: black;
    cursor: not-allowed !important;

    &:hover {
        background: #d3d3d3;
        border: transparent 2px solid;
        color: black;
    }
}

.save-button {
    background: #2D2155;

    &:hover {
        border: #2D2155 2px solid;
        color: #2D2155;
    }
}


/* Module Selection Styles */

.module-category {
    margin: 0 0 20px;
}

.module-category-checkbox {
    border-color: white;
    height: 25px;
    margin-right: 10px;
    vertical-align: top;
    width: 25px;
}

.module-header {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.module-category-label {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.module-select {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding: 0.2rem 0.4rem;
}

.module-selection {
    color: black;
}

/* Image Styles */
.card-images {
    cursor: pointer;
    margin-bottom: 2rem;
    max-height: 20rem;
    width: 100%;

    &:hover {
        opacity: 0.8;
    }
}

.chosen-image {
    border: 10px solid black;
}
