args==0.1.0
asgiref==3.3.1
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
clint==0.5.1
colorama==0.4.4
coverage==5.3
cycler==0.10.0
dh-testers==0.1.0
Django==3.1.5
django-cors-headers==3.6.0
django-webpack-loader==0.7.0
djangorestframework==3.12.2
flake8==3.8.4
gutenberg-cleaner==0.1.6
idna==2.10
iniconfig==1.1.1
isort==5.7.0
joblib==1.0.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
matplotlib==3.3.3
mccabe==0.6.1
more-itertools==8.6.0
nltk==3.5
numpy==1.19.5
packaging==20.8
pandas==1.2.1
Pillow==8.1.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.6.0
pyparsing==2.4.7
pytest==6.0.2
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
requests==2.25.1
scipy==1.6.0
seaborn==0.11.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
tqdm==4.56.0
urllib3==1.26.2
wordcloud==1.8.1
wrapt==1.12.1
