.shuffle-icon {
    height: 25px;
    width: 25px;
}

.letters {
    font-size: 30px;
}

.score {
    background-color: #278E73;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.shaded-box {
    background: #5941A9;
    margin: 10px 0 20px 0;
    padding-top: 10px;
    border-radius: 5px;
}

ol {
  	font-weight: bold;
}

li span {
    font-weight: normal;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.loading-spinner {
    margin: 0 auto auto;
}

.loading-text {
    margin: auto auto 30px;
    font-size: 30px;
    font-weight: bold;
}
