/*
 * Import all styles. This file is imported in app.js.
 */
@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../index/index';
@import '../anagramView/anagramView';
@import '../crosswordView/crosswordView';
@import '../instructorView/instructorView';
@import '../flashcard/flashcardView';

html {
    position: relative;
    height: 100% !important;
}

body {
    height: 100% !important;
}

#root {
    height: 100% !important;
    @extend .d-flex;
    @extend .flex-column;
}

/**
 * Footer Styles
 */

 .footer-img {
     height: 80px;
     max-height: 10vh;
     max-width: 20vw;
     object-fit: contain;
     padding-bottom: 10px;
 }

 .footer {
     flex-shrink: 0;
 }

/**
 * Navbar styles
 */

.navbar-brand {
    font-size: 1.50rem;
}


.nav-link {
    font-size: 1.25rem;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.loading {
    background-color: #2D2155;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 86%;
}
