body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#map-container {
    margin: 10vh 0 15vh 0;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.box {
    border: 3px solid lightblue;
    padding: 4px;
    margin-bottom: 1px;
}

$header-padding: 10px;
$side-padding: 100px;

.page {
    padding: $header-padding $side-padding 0;
    flex: 1 0 auto;
    background-color: #2D2155;
    color: white;
}

@media (max-width: 992px) {
    .page {
        padding: $header-padding 0 0;
    }
}


.landing-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.landing-text {
    font-size: 20px;
}

.map-square {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    color: black;
}

.map-square:hover {
    color: black;
}

table {
    width: 1400px;
}

td, th {
    width: 300px;
}

.text-td {
    width: 800px;
}
