/* Styles for the actual flashcard */
.flashcard {
    background: #5941A9;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 550px;
    margin: 0 auto;
    padding: 50px 50px 25px;
    text-align: center;
    width: 1050px;
    -webkit-transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flashcard.showBack {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

.flashcard__front,
.flashcard__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
}

.flashcard__front {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}

.flashcard__back {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

.flashcard-word {
    color: #E8C2FF;
    font-size: 70px;
}

.flashcard-info {
    color: white;
    font-size: 28px;
    font-weight: normal;
}

.flashcard-div {
    display: flex;
    margin: 50px 0 100px;
    align-items: center;
}

.flashcard-arrows {
    font-size: 60px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
}

.flashcard-arrows:hover{
    transform: scale(1.4);
    transition-duration: 0.3s;
    color: #E8C2FF;
}

.flashcard-flip {
    color: #C4C4C4;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    user-select: none;
}

.flashcard-star {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

/* Styles for the Top Part*/

.flashcard-title {
    font-size: 50px;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.flashcard-instruction {
    border: 3px solid;
    font-size: 20px;
    width: 35px;
    height: 35px;
    margin: -25px 10px 0;
    padding: 0
}
