.submit-btn {
    margin-top: 70px;
    margin-bottom: 20px;
    color: white;
    background-color: #278E73;
}

.box {
    background: #5941A9;
    margin: 20px 12px 20px 12px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.picture-prompt {
    max-height: 20vh;
    max-width: 100%;
}
