.submit-btn {
    margin-top: 70px;
}

.submit-btn {
    color: white;
    background-color: #278E73;
}

.box {
    background: #5941A9;
    margin: 20px 12px 20px 12px;
    padding-top: 10px;
    border-radius: 5px;
}
