.submit-btn {
    margin-top: 10vh;
    margin-bottom: 3vh;
    color: white;
    background-color: #278E73;
}

.box {
    background: #5941A9;
    margin: 5vh 1vw 3vh 1vw;
    padding: 2vh;
    border-radius: 1vh;
    width: 100%;
}

.picture-prompt {
    max-height: 20vh;
    max-width: 100%;
    border-radius: 1vh;
    border-style: solid;
}

