.image-photo{
    border-radius: 2vh;
    padding: 1vh;
    width: 70%;
}

.positionTopLeft {
    position: absolute;
    left: 0;
    top: 0;
}

svg {
    overflow: visible;
}

.image-view {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.label {
    fill: white;
    font-size: 20px;
}

.boxGroup {
    opacity: 0;
}

.visibleBoxGroup {
    opacity: 0;
}

.visibleBoxGroup rect {
    pointer-events: all;
}

.visibleBoxGroup:hover {
    opacity: 1;
}

.visibleBoxGroup rect:hover {
    fill: blueviolet !important;
    fill-opacity: 0.25;
}
