.image-photo{
    border-radius: 2vh;
    padding: 1vh;
    width: 70%;
}

.positionTopLeft {
    position: absolute;
    left: 0;
    top: 0;
}

svg {
    overflow: visible;
}

.image-view {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.boundingBox {
    fill: none !important;
    stroke: cyan;
    stroke-width: 2;
}

.label {
    fill: white;
    font-size: 20px;
}

.boxGroup {
    opacity: 0;
}

.boxGroup rect {
    pointer-events: all;
}

.boxGroup:hover {
    opacity: 1;
}

.boxGroup rect:hover {
    fill: blueviolet !important;
    fill-opacity: 0.25;
}

.outsideBox {
    stroke: cyan;
    stroke-width: 2;
    fill: none;
    pointer-events: all;
}
