@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    background-color: #2D2155;
}

.page {
    font-family: "Lato", "Verdana", sans-serif;
    background-color: #2D2155;
    color: white;
    height: 100%;
    width: 100%;
}

#submit {
    background-color: #278E73;
    padding: 5px 30px;
    border: none;
    font-size: 28px;
    font-weight: bold;
}

// Row Properties
#top {
    margin-bottom: 20px;
}

#middle {
    max-height: 53vh !important;
}

// Exit Button Section
.quiz-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
    //left: 250px;
    //top: 111px;
}

.quiz-author {
    font-size: 16.8px;
    //left: 250px;
    //top: 159px;
}
.exit-button {
    font-size: 44.8px;
    font-weight: bold;
}

// Submit Button Section
.submit-button {
    padding-right: 0 !important;
}

// Quiz Box Section
.question-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
}

.question-primary-text {
    font-size: 25.2px;
    margin-bottom: 0;
}

.question-secondary-text {
    font-size: 22.4px;
    text-align: center;
}

.c-button {
    border-radius: 10px;
    font-size: 22.4px !important;
}

.shaded-box {
    background-color: #5941A9;
    padding: 30px !important;
    border-radius: 10px;
    overflow-y: scroll;
    max-height: inherit;
}

// Navigation Arrows Section
#arrow {
    background-color: #278E73;
    padding: 5px 30px;
    border: none;
    font-size: 25.2px;
    font-weight: bold;
    margin-top: 10px;
}

#greyed-arrow {
    background-color: #C4C4C4;
    padding: 5px 30px;
    border: none;
    font-size: 25.2px;
    font-weight: bold;
    margin-top: 10px;
}

// Progress Bar Section
#scrolling {
    overflow-y: scroll;
    max-height: inherit;
}

.pb-question {
    background-color: #2D2155;
    color: white;
    border: none;
    font-size: 18.2px;
    font-weight: bold;
    padding: 0;
}

.pb-status {
    margin-bottom: 30px;
}

.pb-scroll {
    border-left-color: white !important;
    border-left-width: 2px !important;
    border-left-style: solid !important;
}
