.crossword-title {
    font-size: 50px;
}

.clues-box {
    background: rgba(105, 64, 238, 0.25);
    border-radius: 10px;
    padding-bottom: 20px;
}

.clue-header {
    margin: 10px 0;
}

.clue {
    margin: 5px 0;
}
